@page "/patient"
<h3>IndexPatient</h3>

@if (PatientModels == null)
{
    <p>Loading ...</p>
}
else
{
    <a class=" btn btn-primary" href="/patient/create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DOB</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>PhoneNumber</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var patient in PatientModels)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.DOB</td>
                    <td>@patient.Address</td>
                    <td>@patient.City</td>
                    <td>@patient.State</td>
                    <td>@patient.Zip</td>
                    <td>@patient.PhoneNumber</td>
                    <td>@patient.Email</td>
                    <td>
                        <a class=" btn btn-secondary" href="/patient/update/@patient.ID">Update</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
