@page "/patient"

@rendermode InteractiveServer

<h3>IndexPatient</h3>

@if (PatientModels == null)
{
    <p>Loading ...</p>
}
else
{
    <a class=" btn btn-primary" href="/patient/create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DOB</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>PhoneNumber</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var patient in PatientModels)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.DOB</td>
                    <td>@patient.Address</td>
                    <td>@patient.City</td>
                    <td>@patient.State</td>
                    <td>@patient.Zip</td>
                    <td>@patient.PhoneNumber</td>
                    <td>@patient.Email</td>
                    <td>
                        <a class=" btn btn-secondary" href="/patient/patientmedication/@patient.ID/@patient.FirstName/@patient.LastName">Prescribed Medications</a>
                    <a class=" btn btn-secondary" href="/patient/update/@patient.ID">Update</a>
                    <button class="btn btn-danger" @onclick="() => { DeleteID = patient.ID; Modal.Open(); }">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Notification</Title>
        <Body>
            Do you sure want to delete this patient?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Cancel</button>
        </Footer>
    </AppModal>

}