@page "/provider"
<h3>IndexProvider</h3>

@if (ProviderModel == null)
{
    <p>Loading ...</p>
}
else
{
    <a class=" btn btn-primary" href="/provider/create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Specialization</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>PhoneNumber</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var provider in ProviderModel)
            {
                <tr>
                    <td>@provider.FirstName</td>
                    <td>@provider.LastName</td>
                    <td>@provider.Specialization</td>
                    <td>@provider.Address</td>
                    <td>@provider.City</td>
                    <td>@provider.State</td>
                    <td>@provider.Zip</td>
                    <td>@provider.PhoneNumber</td>
                    <td>@provider.Email</td>
                    <td>
                        <a class=" btn btn-secondary" href="/provider/assign/@provider.ID">Assign To Patient</a>
                        <a class=" btn btn-secondary" href="/provider/update/@provider.ID">Update</a>
                        <button class="btn btn-danger" @onclick="() => { DeleteID = provider.ID; Modal.Open(); }">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <AppModal @ref="Modal">
        <Title>Notification</Title>
        <Body>
            Do you sure want to delete this provider?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Cancel</button>
        </Footer>
    </AppModal>
}